{% extends 'videoapp/header.html' %}
{% block content %}
<a href="{% url 'allvideo' %}" class="btn btn-primary">View All Videos</a>
<div class="container mt-4">
    <h1 class="display-4">{{ video.title }}</h1>
    <div class="embed-responsive embed-responsive-16by9 mb-4">
        <video controls class="embed-responsive-item">
            <source src="{{ video.video_file.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="d-flex justify-content-between">
        {% if prev_video %}
        <a href="{% url 'home' pk=prev_video.pk %}" class="btn btn-primary">Previous</a>
        {% else %}
        <button class="btn btn-secondary" disabled>Previous</button>
        {% endif %}
        {% if next_video %}
        <a href="{% url 'home' pk=next_video.pk %}" class="btn btn-primary">Next</a>
        {% else %}
        <button class="btn btn-secondary" disabled>Next</button>
        {% endif %}
        <div class="mt-3">
            <input hidden type="text" id="shareLink" value="{{ request.build_absolute_uri }}" readonly class="form-control">
            <button id="copyButton" class="btn btn-primary mt-2">Copy Share Link</button>
        </div>
    </div>
  </div>
  <script>
    document.getElementById('copyButton').addEventListener('click', function() {
        var shareLink = document.getElementById('shareLink');
        shareLink.select();
        shareLink.setSelectionRange(0, 99999); // For mobile devices

        try {
            var successful = document.execCommand('copy');
            if (successful) {
                alert('Link copied to clipboard!');
            } else {
                alert('Failed to copy the link.');
            }
        } catch (err) {
            alert('Failed to copy the link.');
        }
    });
</script>
{% endblock %}
